
/**********Mobile Styles**********/
@media only screen and (max-width: 759px) {


    .skip-link {
        text-decoration: none;
        color:white;
        padding: .5em 1em;  
    }

    .grid {
        display: grid;
        grid-template-columns: auto;
    }

    nav {
        text-align: center;
      }
      
      nav ul {
        list-style-type: none;
        padding: 0;
      }
      
      nav ul li {
        display: block;
        margin-top: 2.5em;
        margin-bottom: 2.5em;
        font-size: 1em;
      }
      
      nav ul li a {
        text-decoration: none;
        font-size: 2em;
      }

      .main-nav a {
        text-decoration: none;
        color: black;
    }

    .main-nav a:hover {
        color: #fa4a0c;
    }

    .contact {
        padding: 20px;
        margin-bottom: 20px;
        color: white;

        background-color: #fa4a0c;
        /* Light gray background */
        border-radius: 10px;
        /* Add rounded corners */
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        /* Add a subtle shadow */
    }

    .contact h3 {
        padding-bottom: 1em;
    }

    .contact label,
    input,
    textarea {
        width: 100%;
        padding: 10px 5px 10px 5px;
        /* Top, Right, Bottom, Left */
        margin: 20px 0px 20px 0px;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-sizing: border-box;
    }

    .contact button:hover {
        color: black;
        transition: .5s;
    }

    .contact button {
        width: 100%;
        padding: 10px 5px 10px 5px;
        /* Top, Right, Bottom, Left */
        margin: 20px 0px 20px 0px;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-sizing: border-box;
    }

    .location {
        padding-bottom: 20px;
        color: white;
        align-items: center;

        background-color: #fa4a0c;
        /* Light gray background */
        border-radius: 10px;
        /* Add rounded corners */
    }

    .location h1 {
        text-align: center;
    }

    .location iframe {
        align-items: center;
        width: 90%;
        margin: 0em 0em 0em 1.7em;
        /* Top, Right, Bottom, Left */
    }

    /* FOOTER STYLES */

    .footer-content {
        display: flex;
        flex-direction: column;
    }

    .footer-content .logo {
        margin-top: -5em;
    }

    .social-icon {
        display: flex;
        flex-direction: row;
        font-size: 3em;
        padding-left: 8rem;
        padding-right: 8rem;
    }

    .copyright {
        padding: 1em 0em 1em 0em;/* Top, Right, Bottom, Left */
        font-size: 1em;

    }
}

/*****Desktop Styles*****/
@media only screen and (min-width: 760px) {


    .skip-link {
        text-decoration: none;
        color:white;
        padding: .5em 1em;  
    }

    .main-nav {
        display: flex;
        justify-content: flex-end;
        /* Align items to the right */
        align-items: center;
        padding: 1em;
    }

    .logo1 {
        margin-right: auto;
        /* Pushes the logo to the left */
        margin-bottom: -5em; /*TRYING TO FIX MY NAV SO I SEPERATED THE IMG LOGO AND NAV*/
    }

    .nav-list {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
        font-size: 1.5em;
        padding-bottom: 2em;
    }

    .nav-list li {
        margin-right: 3em;
    }

    .nav-list li:last-child {
        margin-right: 2em;
    }

    .grid {
        display: grid;
        grid-template-areas:
            "contact map"
            "footer footer"
        ;

        background-color: #fa4a0c;
        border-radius: 50px;
    }

    .grid h1 {
        font-size: 3em;
    }

    .grid h3 {
        font-size: 2em;
    }

    .contact {
        grid-area: contact;
        padding: 20px;
        margin-bottom: 20px;
    }

    .location {
        grid-area: map;
        padding-bottom: s0px;
    }

    .contact h3 {
        padding-bottom: 1em;
    }

    .contact h3, h1 {
        text-align: center;
    }

    .contact label,
    input,
    textarea, button {
        width: 100%;
        padding: .5em .5em .5em .5em;
        /* Top, Right, Bottom, Left */
        margin: 1em 0em 1em 0em;
        border: 1px solid #ccc;
        border-radius: 20px;
        font-size: 1.5em;
    }

    .contact button:hover {
        color: black;
        transition: .5s;
    }

    .contact button {
        width: 100%;
        padding: 10px 5px 10px 5px;
        /* Top, Right, Bottom, Left */
        margin: 20px 0px 20px 0px;
        border: 1px solid #ccc;
        border-radius: 50px;
    }

    .location,
    .contact {
        padding-bottom: 20px;
        color: white;
        align-items: center;
    }

    .location h1 {
        text-align: center;
        padding-top: .5em;
    }

    .location iframe {
        align-items: center;
        width: 90%;
        margin: 7em 0em 0em 2em;
        /* Top, Right, Bottom, Left */
        border-radius: 50px;
    }

    /* FOOTER STYLES */

    .footer-content {
        display: flex;
        justify-content: space-between;
        /* align-items: center; */
        padding-top: 5em;
        padding-bottom: 4em;
        overflow-x: hidden;
    }

    .logo img {
        width: 15rem;
        padding-right: 5rem;
        padding-left: 5em;
        /* To seperate the logo and nav*/
    }

    .social-icon {
        font-size: 3em;
    }

    .copyright {
        text-align: center;
        margin-left: 5em;
    }


}