/********** Mobile Styles **********/

@media only screen and (max-width: 759px) {

    body {
        font-family: 'Open Sans', sans-serif;
        color: black;
        margin: auto;
    }

    .container2 {
        padding: 20px;
    }

    .skip-link {
        text-decoration: none;
        color:white;
        padding: .5em 1em;  
    }

    /********** Products Section **********/

    .product {
        display: flex;
        flex-direction: column-reverse;
        /* Reverse the order of flex items */
        align-items: center;
        /* Center align items horizontally */
    }

    .container2 h2 {
        text-align: center;
        padding: 1em 0em 0em 0em;
        /* Top, Right, Bottom, Left */
        color: #fa4a0c;
    }

    .container2 p {
        text-align: center;
        padding: 0em 2em 5em 2em;
        /* Top, Right, Bottom, Left */
    }

    .product img {
        width: 50%;
        /* Adjust the width of the image */
        border-radius: 20px;
    }

    /* FOOTER STYLES */

    .footer-content {
        display: flex;
        flex-direction: column;
        margin-top: -3em;
        align-items: center;
    }

    .social-icon {
        align-items: center;
        display: flex;
        font-size: 2em;
  
    }

    .copyright {
        flex: 1;
        font-size: 12px;
        margin-left: 5em;
    }

}



@media only screen and (min-width: 760px) {

    /********** Products Desktop *********/

    .skip-link {
        text-decoration: none;
        color:white;
        padding: .5em 1em;  
    }

    .head-pro {
        text-align: center;
        padding: 1em 20em 5em 20em;
        /* Top, Right, Bottom, Left */
        background-color: #fa4a0c;
        border-radius: 20px;
    }

    .head-pro h2 {
        color: white;
        font-size: 5em;
    }

    .head-pro p {
        color: white;
        font-size: 1.5em;
    }

    .gourmet,
    .salad,
    .pasta,
    .bbq {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        /* Two columns */
        gap: 20px;
        /* Gap between grid items */
        margin-bottom: 30px;
        /* Add some margin between sections */
    }

    .gourmet h2,
    .salad h2,
    .pasta h2,
    .bbq h2 {
        color: #fa4a0c;
        font-size: 2.5em;
    }

    .gourmet p,
    .salad p,
    .pasta p,
    .bbq p {
        color: black;
        font-size: 1.6em;
    }

    .head-cont p {
        color: white;
    }

    .product img {
        max-width: 50%;
        padding: 0em 0em 0em 0em;
        /* Top, Right, Bottom, Left */
        margin: 3em 0em 3em 13em;

    }

    .product-info {
        text-align: left;
        /* Align text content to the left */
        padding: 0em 8em 0em 0em;
        /* Top, Right, Bottom, Left */
        margin: 8em 0em 0em 0em;

    }

    .gourmet,
    .salad,
    .pasta,
    .bbq {
        border: 5px solid #fa4a0c;
        border-radius: 20px;
        margin: 10em 5em 10em 5em;/* Top, Right, Bottom, Left */
    }

    /* FOOTER STYLES */

    .footer-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 4em;
        padding-bottom: 4em;
    }

    .logo {
        flex: 1;
    }

    .logo img {
        width: 15rem;
        padding-right: 6rem;
        padding-left: 6em;
        /* To seperate the logo and nav*/
    }

    .social-icon {
        font-size: 3em;
        padding-left: 7rem;
    }

    .copyright {
        flex: 1;
        font-size: 12px;
        margin-left: 20em;
        margin-right: -10em;
    }

}