/********** Mobile Styles **********/

@media only screen and (max-width: 759px) {

    body {
        font-family: 'Open Sans', sans-serif;
        color: black;
        margin: auto;
    }

    .container2 {
        padding: 20px;
    }

    .skip-link {
        text-decoration: none;
        color: white;
        padding: .5em 1em;
    }

    /********** Products Section **********/

    .product {
        display: flex;
        flex-direction: column-reverse;
        /* Reverse the order of flex items */
        align-items: center;
        /* Center align items horizontally */
    }

    .product-info {
        text-align: center;
    }

    .price {
        color: #fa4a0c;
        font-size: 2em;
    }

    .price3 {
        color: #fa4a0c;
        font-size: 2em;
    }

    .price4 {
        color: #fa4a0c;
        font-size: 2em;
    }

    .gourmet, .salad, .pasta, .bbq {
        border: 5px solid #fa4a0c;
        border-radius: 20px;
        margin: 2em 0em 4em 0em;
        /* Top, Right, Bottom, Left */
        padding: 0em 1.5em 0em 1.5em ;
    }

    .product-info h2 {
        color: #fa4a0c;
        font-size: 2em;
        padding-top: 1em;
    }

    .product-info p {
        color: black;
        font-size: 1.5em;
        padding-top: 1em;
    }

    .product img {
        width: 50%;
        /* Adjust the width of the image */
        border-radius: 20px;
        padding-top: 1em;
    }

    .head-pro {
        text-align: center;
    }

    .head-cont h2 {
        color: #fa4a0c;
        font-size: 2.5em;
    }

    .head-cont p {
        font-size: 1.5em;
    }

     /* FOOTER STYLES */

     .footer-content {
        display: flex;
        flex-direction: column;
        align-items: center;

    }
    .footer-content .logo {
        visibility: hidden;
    }

    .social-icon {
        margin-bottom: 10px;
    }

    .copyright {
        font-size: 1em;
        flex: 1;
    }

    

}



@media only screen and (min-width: 760px) {

    /********** Products Desktop *********/

    .skip-link {
        text-decoration: none;
        color: white;
        padding: .5em 1em;
    }

    .head-pro {
        text-align: center;
        margin: 0em 5em 0em 5em;
        /* Top, Right, Bottom, Left */
        padding: 5em 0em 5em 0em;
        background-color: #fa4a0c;
        border-radius: 20px;
    }

    .head-cont {
        padding: 0em 3em 0em 3em; /* Top, Right, Bottom, Left */
    }

    .head-cont h2 {
        color: white;
        font-size: 5em;
    }

    .head-cont p {
        color: white;
        font-size: 1.5em;
    }

    .gourmet,
    .salad,
    .pasta,
    .bbq {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        /* Two columns */
        gap: 20px;
        /* Gap between grid items */
        margin-bottom: 30px;
        /* Add some margin between sections */
    }

    .gourmet h2,
    .salad h2,
    .pasta h2,
    .bbq h2 {
        color: #fa4a0c;
        font-size: 2.5em;
    }

    .gourmet p,
    .salad p,
    .pasta p,
    .bbq p {
        color: black;
        font-size: 1.6em;
    }

    .head-cont p {
        color: white;
    }

    .product img {
        max-width: 50%;
        margin: 3em 0em 3em 13em;

    }

    .product-info {
        text-align: left;
        /* Align text content to the left */
        padding: 0em 8em 0em 0em;
        /* Top, Right, Bottom, Left */
        margin: 8em 0em 0em 0em;

    }

    .price {
        color: #fa4a0c;
        font-size: 2em;
    }

    .price3 {
        color: #fa4a0c;
        font-size: 2em;
    }

    .price4 {
        color: #fa4a0c;
        font-size: 2em;
    }

    .gourmet,
    .salad,
    .pasta {
        border: 5px solid #fa4a0c;
        border-radius: 20px;
        margin: 10em 5em 10em 5em;
        /* Top, Right, Bottom, Left */
    }

    .bbq {
        border: 5px solid #fa4a0c;
        border-radius: 20px;
        margin: 10em 5em 2em 5em;
        /* Top, Right, Bottom, Left */
    }

    /* FOOTER STYLES */

    .footer-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 3em;
        padding-bottom: 4em;
        overflow-x: hidden;
    }

    .logo img {
        width: 15rem;
        padding-right: 6rem;
        padding-left: 6em;
        /* To seperate the logo and nav*/
    }

    .social-icon {
        font-size: 3em;
        margin: 1em;
    }

    .copyright {
        margin-right: 7em;
        font-size: 1em;
    }

}